.input {
    color: #f0f8ff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
    margin: 2em auto;
}
.input label {
    font-size: 1.3em;
    color: #f0f8ffd0;
}
.input input {
    padding: 0.5em;
    margin: 0.5em 0;
    border: none;
    outline: none;
    border-radius: 5px;
    background: transparent;
    border-bottom: 2px solid #f0f8ff;
    color: #f0f8ff;
    line-height: 1em;
    font-size: 1em;
}