.tmb {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #0D0D0D 50%,#727578);
    padding: 3em 0 ;

}
.tmb form {
    position: relative;
    background-color: #0D0D0D;
    min-height: 400px;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px  #f0f8ff3f;
    margin: 0 auto;
}.tmb form fieldset {
    height: 95%;
    margin: 10px;
    border: 2px solid #f0f8ff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #f0f8ff3f;
}
.tmb form   h2 {
    color: #f0f8ff;
    text-align: center;
    margin: 1em 0;
}
.tmb form  button {
    width: 10em;
    height: 3em;
    margin: 0 calc((100% - 10em)/2) ;
    border-radius: 5px;
    outline: none;
    background: transparent;
    border: 2px solid #f0f8ff;
    box-shadow: 0px 0px 5px #f0f8ff;
    color: #f0f8ff;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.tmb form  button:hover {
    background-color: #f0f8ff;
    color: #0D0D0D;
}